@model IEnumerable<FrmCentral.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrdtName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrdtDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrdtType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrdtName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrdtDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrdtType.PrdtTypeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrdtId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrdtId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrdtId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
