@model FrmCentral.Models.Farmer

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Farmer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FmrName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FmrName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FmrSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FmrSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FmrUsername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FmrUsername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FmrPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FmrPassword)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FmrId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
