@model FrmCentral.Models.Farmer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Farmer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FmrName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FmrName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FmrSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FmrSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FmrUsername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FmrUsername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FmrPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FmrPassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FmrId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
