@model IEnumerable<FrmCentral.Models.Farmer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FmrName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FmrSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FmrUsername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FmrPassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FmrName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FmrSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FmrUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FmrPassword)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FmrId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FmrId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FmrId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
